
<h1>Orders Show Page</h1>

<h2>Order Id: <%= @order['id'] %></h2>
<h2>Product Id: <%= @order['product_id'] %></h2>
<h2>User Id: <%= @order['user_id'] %></h2>
<h2>Quantity: <%= @order['quantity'] %></h2>